<!-- include header -->
<%- include('include/_header.ejs') %>
    <!-- /include header -->

    <!-- Main Site -->
    <main id="site-main">
        <div class="container">
            <div class="box-nav d-flex justify-between">
                <% if(flag2==0 && role=="Admin") {%>

                    <a href="/add-user" class="border-shadow">
                        <span class="text-gradient">New User <i class="fa-solid fa-user"></i></span>
                    </a>
                    <a href="/companies" class="border-shadow">
                        <span class="text-gradient">Company <i class="fa fa-handshake-o" aria-hidden="true"></i></span>
                    </a>
                    <a href="/productForm" class="border-shadow">
                        <span class="text-gradient">Add Product 
                            <i class="fa fa-diamond" aria-hidden="true"></i></span>
                    </a>
                <% }%>
                <% if(flag1!=0 && flag2==0){ %>
                    <a class="border-shadow" href="/product?customerId=<%= customerId %>">
                        <!-- <button type="button">Pending</button> -->
                        <span class="text-gradient">Pending</span>
                    </a>
                <%} else if(flag2==0){%>
                    <button>Nothing pending</button>
                <%} else if(flag2!=0){%>
                    <a href="/product">
                        <button type="button">Back</button>
                    </a>
                    <%}%>
            </div>
            <!-- form handling -->
            <form action="/" method="POST">
                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Amount</th>
                            <%if(flag2==1){%>
                                <th>Date</th>
                                <%}%>
                            <%if(flag2==0){%>
                                <th>Buy</th>
                            <%}else{%>
                                <th>Pay Now</th>
                                <%}%>
                            <% if(flag2==0 && role=="Admin") {%>
                                <th>Remove</th>
                            <% }%>

                        </tr>
                    </thead>
                    <tbody>
                        <%for(var i=0; i< product.length;i++) {%>
                            <tr>
                                <td>
                                    <%= i %>
                                </td>
                                <td>
                                    <%= product[i].productName %>
                                </td>
                                <td>
                                    <%= product[i].amount %>
                                </td>
                                <%if(flag2==1){%>
                                    <td>
                                        <%= new Date(date[i]).toDateString() %>
                                    </td>
                                    <%}%>
                                <%if(flag2==0){%>
                                    <td><a class="btn-border-shadow update" href="/product?id=<%= product[i]._id %>">
                                        <span class="material-symbols-outlined">
                                            shopping_cart_checkout
                                        </span>
                                    </a></td>
                                <%}else{%>
                                    <td>
                                        <a href="/payNow/<%= product[i]._id %>">
                                            <i style="font-size:24px; cursor: pointer;" class="fa">&#xf0d6;</i>
                                        </a>
                                    </td>
                                    <%}%>
                                <% if(flag2==0 && role=="Admin") {%>
                                    <td>
                                        <a class="delete" href="">
                                            <i  style='font-size:24px' class='fas'>&#xf1f8;</i>
                                        </a>
                                    </td>
                                <% }%>
                            </tr>
                            <%}%>
                    </tbody>
                </table>
            </form>
            <!-- /form handling -->
        </div>
    </main>
    <!-- /Main Site -->

    <!-- include footer -->
    <%- include('include/_footer.ejs') %>
        <!-- /include footer -->